
a {
  color: white;
}

a:hover {
  color: grey;
}

.titre {
  color: white;
  font-family: fantasy;
}

.info {
  display: flex;
  align-items: flex-start;
  color: white;
  font-family: fantasy;
  font-size: 1.2em;
  margin: 0.5em 0;
}

.info > img {
  margin-right: 16px;
}
.maitrise {
  font-size: 1.3em;
}
.body {
  background-color: #B6CACA;
}

.experience {
  font-family: serif;
  font-size: 1.5em;
  margin: 80px 0;
  margin-left: 2em ;
}

.competence {
  font-family: serif;
  font-size: 1.5em;
  margin: 80px 0;
}
.progress {
  font-size: 1.2em;
  height: 80%;
  margin-top: 1.5em;
}
.langue {
 margin-top: 1.5em;
}
hr {
  border-bottom: 1px solid black;
}

.footer {
  margin: 0;
  margin-top: 1.5em;
  font-size: 50px;
}
