
a {
  color: white;
}

a:hover {
  color: grey;
}

.titre {
  color: white;
  font-family: fantasy;
}

.info {
  display: flex;
  align-items: flex-start;
  color: white;
  font-family: fantasy;
  font-size: 1.2em;
  margin: 0.5em;
  margin-right: 2em;
}

.info > img {
  margin-right: 16px;
}
.maitrise {
  font-size: 1.3em;
}
.bg-body {
  background-color: #B6CACA;
}

.experience {
  font-family: serif;
  font-size: 1.5em;
  margin: 80px 0;
  margin-left: 2em ;
}

.competence {
  font-family: serif;
  font-size: 1.5em;
  margin: 80px 0;
}
.progress {
  font-size: 1.2em;
  height: 80%;
  margin-top: 1.5em;
}
.langue {
 margin-top: 1.5em;
}
hr {
  border-bottom: 1px solid black;
}

.icon {
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.footer {
  margin: 0;
  margin-top: 1.5em;
}
.fab {
  font-size: 3em;
}
/*taille tablette*/
@media (max-width: 769px) {
  .titre {
    color: white;
    font-family: fantasy;
    display: flex;
    align-items: center;
    height: 100%;
  }
  h1.display-1 {
    font-size: 4rem;
  }
  .img-profil {
    display: flex;
    justify-content: center;
    align-items: center;""
  }

  .img-profil img {
    width: 100%;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
  }
}

/* taille smartphone*/
@media (max-width: 577px) {
  .competence {font-size: 1em; margin-left:1em;}
  .experience {font-size: 1em;  margin-left:0;}
  .img-profil img {
    width: auto;
  }
  h1.display-1 {
    width: 100%;
    text-align: center;
  }
}
